<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Test</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Books</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">777</td>
        <td th:text="${author.firstName}">Abby</td>
        <td th:text="${author.lastName}">Bryan</td>
        <td>
            <ul>
                <li th:each="book : ${author.books}" th:text="${book.title}">Book Title</li>
            </ul>
        </td>
    </tr>
</table>

</body>

</html>